---
const canonical = 'https://audiogretel.com/en/blog/cuentos-mindfulness-andalucia/';
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0;url=/en/blog/cuentos-mindfulness-andalucia/" />
    <link rel="canonical" href={canonical} />
    <title>Redirecting to article...</title>
  </head>
  <body>
    <p>Redirecting to article. If not redirected, <a href="/en/blog/cuentos-mindfulness-andalucia/">click here</a>.</p>
  </body>
</html>
