---
const slug = 'rutina-cuentos-dormir';
const canonical = 'https://audiogretel.com/blog/rutina-cuentos-dormir/';
---
<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0;url=/blog/rutina-cuentos-dormir/" />
    <link rel="canonical" href={canonical} />
    <title>Redirigiendo al artículo...</title>
  </head>
  <body>
    <p>Redirigiendo al artículo. Si no te redirige, <a href="/blog/rutina-cuentos-dormir/">haz clic aquí</a>.</p>
  </body>
</html>
