---
const canonical = 'https://audiogretel.com/en/blog/aprendizaje-temprano-idiomas/';
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0;url=/en/blog/aprendizaje-temprano-idiomas/" />
    <link rel="canonical" href={canonical} />
    <title>Redirecting...</title>
  </head>
  <body>
    <p><a href="/en/blog/aprendizaje-temprano-idiomas/">Go to article</a></p>
  </body>
</html>
