---
const canonical = 'https://audiogretel.com/blog/cuentos-mindfulness-andalucia/';
---
<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0;url=/blog/cuentos-mindfulness-andalucia/" />
    <link rel="canonical" href={canonical} />
    <title>Redirigiendo...</title>
  </head>
  <body>
    <p><a href="/blog/cuentos-mindfulness-andalucia/">Ir al artículo</a></p>
  </body>
</html>
