---
const slug = 'aprendizaje-temprano-idiomas';
const canonical = 'https://audiogretel.com/blog/aprendizaje-temprano-idiomas/';
---
<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0;url=/blog/aprendizaje-temprano-idiomas/" />
    <link rel="canonical" href={canonical} />
    <title>Redirigiendo al artículo...</title>
  </head>
  <body>
    <p>Redirigiendo al artículo. Si no te redirige, <a href="/blog/aprendizaje-temprano-idiomas/">haz clic aquí</a>.</p>
  </body>
</html>
